body {
    width: 100%
}

h1 {
    font-size: 43px;
    border: solid 5px #000080;
    color: #000080;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding: 15px;
    font-family: cursive;
    background: #669999;
}

h2 {
    font-family: cursive;
    font-size: 20px;
    padding-top: 10px;
    color: #000080;
    background: #669999;
}


img {
    margin: 10px;
}


.sidebar {
    padding: 5px;
    position: relative;
    margin-bottom: 5px;
    font-family: cursive;
    font-size: 20px;
    color: #000080;
}

span {
    border: solid #000080 2px;
    padding-left: 3px;
    padding-right:3px;
    background-color: #cc0066; 
    font-size: 18px;
}

.container {
    margin-top: 5px;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 5px;
    text-align: center;
    border: solid 3px #000080;
    background: #669999;
}

#currentword {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #800040;
}

#scoreboard {
    padding: 20px;
}